/* For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px solid black;
}

.columns {
  min-height: 100px;
}*/

/* End for testing */

/*------------Global------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5B8C5A;
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
}
/*------------Header------------*/
.header {
  height: 16vh;
  width: 93vw;
  margin: 0 auto;
  background-color: #D1CA4B;
  text-align: center;
}

/*------------Box Container------------*/
.boxContainer {
  height: 84vh;
  text-align: center;
}

.box {
  width: 80vw;
  height: 25vh;
  margin: 3vh auto;
  background-color: #E3655B;
}
/*------------Media Queries------------*/
@media screen and (min-width: 630px) {
  .boxContainer {
    width: 85vw;
    margin: 0 auto;
  }
  .box {
    width: 36vw;
    margin: 2vh 2vh;
    margin-bottom: 0;
    display: inline-block;
  }
}

@media screen and (min-width: 1150px) {
  .box {
    width: 24vw;
    margin: 6vh 2vh;
  }
}
