/* For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px solid black;
}

.columns {
  min-height: 100px;
}*/

/* End for testing */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----------------Global----------------*/
body {
  background-color: #3A3335;
}

h1 {
  margin: 0;
  padding: 0;
  color: #E8E5EA;
  font-size: 8vw;
}
/*----------------Main----------------*/
.main {
  background-color: #FF4B3E;
  height: 50vh;
}
/*----------------Columns----------------*/
.columns {
  height: 45vh;
  margin-top: 5vh;
}

.columns > div {
  height: 20vh;
  /*margin-top: 5vh;*/

}

.col-1 {
  background-color: #FF9D35;
}

.col-2 {
  background-color: #2B9BE5;
  margin-top: 5vh;
}

/*----------------Media Queries----------------*/
@media screen and (min-width: 600px) {
  body {

  }

  h1 {
  }

  .main {
    margin-bottom: 2vh;
  }

  .columns {
  }

  .main, .columns {
    width: 100vw;
    height: 49vh;
  }

  .col-1 {
    float: left;
  }

  .col-2 {
    float: right;
  }

  .columns > div {
    width: 49vw;
    height: 100%;
    margin: 0;
  }
}

/*@media screen and (min-width: 900px) {
  .main {
    width: 74vw;
    float: left;
    height: 100vh;
  }

  .columns {
    width: 24vw;
    float: right;
    height: 100vh;
  }

  .col-1, .col-2 {
    height: 50vh;
  }

  .wrapper {
    height: 100vh;
    overflow: auto;
  }
}*/
